/* Global defaults */
* { box-sizing: border-box; }

:root {
  
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
  background: #242424;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Cossette Titre';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/cossette-titre-v3-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chillax';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Chillax-Regular.woff2') format('woff2');
}